<nav class="navbar navbar-default">
<div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">Express Tut</a>
    </div>
    <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/blogs">Blogs</a></li>
        <li><a href="/blog-list">Blog(Model)</a></li>
        <li><a href="/mongo-blogs">Mongo Blogs</a></li>
    </ul>
    <ul class="nav navbar-nav" style="float: right;">
        <li><a href="/register">Register</a></li>
        <li><a href="/register">Login</a></li>
    </ul>
</div>
</nav>